parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$jsonArray of class DNB\\\\WikibaseConverter\\\\PicaRecord constructor expects array\\('fields' \\=\\> array\\(array\\('name' \\=\\> string, 'subfields' \\=\\> array\\(array\\('name' \\=\\> string, 'value' \\=\\> string\\)\\)\\)\\)\\), array\\('fields' \\=\\> array\\(\\)\\) given\\.$#"
			count: 1
			path: src/PicaRecord.php

